<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.river.article.mapper.AuthorityMapper">

    <select id="getAuthorityListByUsername" resultType="org.river.article.pojo.entity.Authority">
        SELECT a.id, a.name FROM authority a JOIN role_authority ra ON a.id = ra.authority_id JOIN
        user_role ur ON ra.role_id = ur.role_id JOIN user u ON ur.user_id = u.id WHERE u.username =
        #{username} </select>

    <!-- getAuthorityListByRoleId -->

    <select id="getAuthorityListByRoleId"> select * from authority where id in (select authority_id from role_authority where role_id = #{roleId})</select>
</mapper>