<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.river.article.mapper.UserMapper">

    <select id="getUserByUsername" resultType="org.river.article.pojo.entity.User"> select * from
        user where username = #{username} </select>
    <select id="getUserById" resultType="org.river.article.pojo.entity.User"> select * from user
        where id = #{id } </select>

    <!-- addUser -->

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id"> insert into user
        (username,password,email,enabled) values (#{username},#{password},#{email},#{enabled}) </insert>

    <!-- getAllUser -->

    <select id="getAllUser"> select * from user </select>

    <!-- deleteUserById -->

    <delete id="deleteUserById"> delete from user where id = #{id} </delete>

    <!-- changeUserState -->

    <update id="changeUserState"> update user set enabled = #{enabled} where id = #{id} </update>

    <!-- editUserInfo -->

    <update id="editUserInfo"> update user <set>
            <if test="username != null"> username = #{username}, </if>
            <if test="email != null">
        email = #{email} ,</if>
        </set>
    </update>
</mapper>